<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
<appSettings>
	<add key="Browser" value="Chrome" />
	<add key="ApplicationUrl" value="https://www.epam.com/" />
	<add key="WebDriverTimeOut" value="60" />
	<add key="WaitElementTimeOut" value="60" />
</appSettings>
</configuration>